{% extends 'monApp/base.html' %}

{% block menu %}
    <h1>{{ titremenu }}</h1>
{% endblock %}

{% block contenu %}
    <h2>Rayon {{ rayon.refRayon }}</h2>
    <ul>
        <li>Nom du rayon : {{ rayon.nomRayon }}</li>
    </ul>

    <a href="{% url 'lst_rayons' %}">Retour à la liste des rayons</a>
    <br>
    <a href="{% url 'ray-chng' rayon.refRayon %}">Modifier ce rayon</a> |
    <a href="{% url 'dlt-ray' rayon.refRayon %}">Supprimer ce rayon</a> |

    <div class="card mb-4">
        <div class="card-header bg-primary text-white">
            <h4>
                Ce rayon contient <strong>{{ prdts_dt|length }}</strong> produit(s) pour un total de
                <strong>{{ total_nb_produit|floatformat:2 }} €</strong>
            </h4>
        </div>
        <div class="card-body">
            <div class="row">
                {% if prdts_dt %}
                    {% for produit in prdts_dt %}
                        <div class="col-sm-3">
                            <div class="card mb-2 text-center">
                                <div class="card-header bg-info text-white">
                                    <h5 class="card-title">{{ produit.intituleProd }}</h5>
                                </div>
                                <div class="card-body">
                                    <ul class="list-unstyled">
                                        <li>Prix unitaire : {{ produit.prixUnitaireProd }} €</li>
                                        <li>Référence : {{ produit.refProd }}</li>
                                        <li>Date fabrication : {{ produit.dateFabrication }}</li>
                                    </ul>
                                    <a href="{% url 'dtl-prdt' produit.refProd %}" class="btn btn-primary mt-2">Détails</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <a href="{% url 'cntnr-crt' rayon.refRayon %}" class="btn btn-success">Ajouter un produit </a></h4>
                {% else %}
                    <p class="text-muted">Aucun produit trouvé pour ce rayon.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}