{% extends 'monApp/base.html' %}

{% block menu %}
    {{titremenu}}
{% endblock %}

{% block contenu %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom catégorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for cat in categories %}
                <tr>
                    <td><a href="{% url 'dtl-categorie' cat.idCat %}">{{ cat.idCat }}</a></td>
                    <td>{{ cat.nomCat }}</td>
                    <td>
                        <a href="{% url 'categorie-chng' cat.idCat %}">Modifier</a> |
                        <a href="{% url 'dlt-categorie' cat.idCat %}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'crt-categorie' %}">Créer une nouvelle catégorie</a>
    <p>
        Il y a
        {% if categories|length < 5 %}
            peu de
        {% elif categories|length < 10 %}
            quelques
        {% else %}
            beaucoup de
        {% endif %}
        catégories.
    </p>
{% endblock %}