{% extends 'monApp/base.html' %}

{% block menu %}
    {{titremenu}}
{% endblock %}

{% block contenu %}
<!-- Barre de recherche -->
<p class="lead mb-3 ml-0">Rechercher un élément...</p>
<form method="GET" action="">
<input class="form-control" type="text" name="search" placeholder="Tapez ici votre recherche"
value="{{ request.GET.search }}">
<button type="submit" class="btn btn-success mt-2">Rechercher</button>
</form>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libellé</th>
            </tr>
        </thead>
        <tbody>
            {% for statut in status %}
                <tr>
                    <td>{{ statut.idStatut }}</td>
                    <td>{{ statut.libelle }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        Il y a
        {% if status|length < 5 %}
            peu de
        {% elif status|length < 10 %}
            quelques
        {% else %}
            beaucoup de
        {% endif %}
        statuts.
    </p>
{% endblock %}