{% extends 'monApp/base.html' %}

{% block menu %}{{titremenu}}{% endblock %}

{% block contenu %}
<table class="table">
<thead>
  <tr>
    <th>Id</th>
    <th>Nom rayon</th>
    <th>Valeur marchande du rayon</th>
    <th>Actions</th>
  </tr>
</thead>
<tbody>
  {% for data in ryns_dt %}
    <tr>
      <td>
        <a href="{% url 'dtl_rayon' data.rayon.refRayon %}">
          {{ data.rayon.refRayon }}
        </a>
      </td>
      <td>{{ data.rayon.nomRayon }}</td>
      <td>{{ data.total_stock }}</td>
      <td>
        <a href="{% url 'dtl_rayon' data.rayon.refRayon %}" class="btn btn-primary mt-2">Détails</a>
        <a href="{% url 'ray-chng' data.rayon.refRayon %}" class="btn btn-warning mt-2">Modifier</a>
        <a href="{% url 'dlt-ray' data.rayon.refRayon %}" class="btn btn-danger mt-2">Supprimer</a>
      </td>
    </tr>
  {% empty %}
    <tr><td colspan="4">Aucun rayon trouvé.</td></tr>
  {% endfor %}
</tbody>
</table>

<a href="{% url 'crt-ray' %}">Créer un nouveau rayon</a>

<p>
  Il y a
  {% if rayons|length < 5 %}
    peu de
  {% elif rayons|length < 10 %}
    quelques
  {% else %}
    beaucoup de
  {% endif %}
  rayons.
</p>
{% endblock %}